body {
    background-color: rgb(67, 205, 247);
    position: fixed; 
    width: 1920px;
    height: 1080px;
}


.titel{
    max-width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 80px;
}


h1{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 320px;
    left: 740px;
    
}    

.divcontainer{
    position: relative;
    top: 0;
    left: 0;
}


#afronden{
    position: absolute;
    top: -10px;
    left: 855px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: #000000 1px 4px 2px 1px; 
  }


.aanrecht{
    max-width: 80%; 
    height: auto; 
    margin: 0 auto; 
    display: block;
    padding-top: 150px;
} 


#ramsey{
    position: absolute  ;
    top: 100px;
    left: -80px;
    width: 450px;
    z-index: -1;
}

#positie1{
    position: absolute;
    top: 400px;
    left: 500px;
}

#positie2{
    position: absolute;
    top: 385px;
    left: 500px;
}

#positie3{
    position: absolute;
    top: 370px;
    left: 500px;
}

#positie4{
    position: absolute;
    top: 355px;
    left: 500px;
}

#positie5{
    position: absolute;
    top: 340px;
    left: 500px;
}

#positie6{
    position: absolute;
    top: 325px;
    left: 500px;
}

#positie7{
    position: absolute;
    top: 310px;
    left: 500px;
}

#positie7{
    position: absolute;
    top: 310px;
    left: 500px;
} 

#positie8{
    position: absolute;
    top: 295px;
    left: 500px;
}

#positie9{
    position: absolute;
    top: 280px;
    left: 500px;
}

#positie10{
    position: absolute;
    top: 265px;
    left: 500px;
}

#burgerpositie{
    position: absolute;
    top: 390px;
    right: 490px;
}